<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
  <div id="app">
    <div v-if="books.length">
      <table>
        <thead>
          <tr>
            <td></td>
            <td>书名</td>
            <td>出版日期</td>
            <td>单价</td>
            <td>数量</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(book, index) in books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.date}}</td>
            <td>{{book.price | finalPrice}}</td>
            <td>
              <button @click="increment(index)">+</button>
              {{book.count}}
              <button @click="decrement(index)" :disabled="book.count <= 1">-</button>
            </td>
            <td><button @click="remove(index)">删除</button></td>
          </tr>
        </tbody>
      </table>
      <h2>总计：{{totalPrice | finalPrice}}</h2>
    </div>
    <div v-else>
      <h2>购物车为空</h2>
    </div>
  </div>
</body>
<script src="../../js/vue.js"></script>
<script src="./main.js"></script>
</html>