<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>父子组件通信</title>
</head>
<body>
  <div id="app">
    <h2>{{message}}</h2>
    <cpn :clist="list"></cpn>
    <cpn :clist="list" c-msg="你好"></cpn>
    <hr>
    <cpnm @submit="submit"></cpnm>
  </div>
  <template id="cpn">
    <div>
      <h2>{{cMsg}}</h2>
      <span v-for="item in clist">{{item}}</span>
    </div>
  </template>
  <template id="cpnm">
    <div>
      <label for="message">
        数据：<input type="text" v-model="message" id="message">
      </label>
      <button @click="submit">submit</button>
    </div>
  </template>
</body>
<script src="../js/vue.js"></script>
<script type="text/javascript">
  const cpn = {
    template: "#cpn",
    props: {
      // clist: Array,
      clist: {
        type: Array,
        default() {
          return ['default'];
        },
        // 缺失触发报错 Missing required prop: "clist"
        required: true,
      },
      cMsg: {
        type: String,
        default: "cpn",
        required: false,
        validator(val) {
          // 数据验证
          // 报错 custom validator check failed for prop "cmsg".
          return val.length < 4;
        }
      }
    },
    data(){
      return {};
    },
  }
  const cpnm = {
    template: "#cpnm",
    data(){
      return {
        message: "message",
      }
    },
    methods: {
      submit(){
        this.$emit("submit",this.message);
      }
    },
    watch: {
      message(newVla, oldVal){
        // message发生改变则触发
        this.$emit("submit",this.message);
      }
    }
  }
  const app = new Vue({
    el: '#app',
    data: {
      message: "Hello Vue !",
      list: ["A","B","C"],
    },
    components: {
      cpn,
      cpnm,
    },
    methods: {
      submit(msg){
        this.message = msg;
      }
    },
  });
</script>
</html>